<div id = "body"> 
	<header>
		<h1>{{header.displayName}}
		<h2>{{header.pageTitle}}<h2>
		<h4>{{header.extraInfo}}</h4>
	</header>
	
	<div id="minicart">
		<h4>Cart({{ cart.length }}) <a href="">Purchase</a></h4>		
	</div>
	<div id = "product" ng-repeat = "product in products">
		<img id="productImage" src="{{product.mainImage.ref}}">
		<h4>{{product.name}} </h4>
		<h4>${{product.defaultPriceInCents | centsToDollar }}</h4>
		<button class="cart"ng-click="removeCart(product)">-</button>
		<button class="cart" ng-click="addCart(product)">+</button>
		<hr>
	</div>
</div>